@font-face {
  font-family: Frizon;
  src: url('/fonts/Frizon.ttf');
}

@font-face {
  font-family: JetBrainsMono;
  src: url('/fonts/JetBrainsMono.ttf');
}

@font-face {
  font-family: Namu;
  src: url('/fonts/Namu.ttf');
}
